@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

body {
  @apply bg-zinc-50;
}

input:checked + label.mj-categoryBtn {
  color: #fff;
  background-color: #25a298;
}

.mj-slideBar {
  z-index: -1;
  @apply absolute bg-red-500 bg-opacity-75 h-full w-1/2 rounded-lg
    duration-500;
}

input#payment:checked ~ .mj-slideBar {
  @apply left-0;
}
input#income:checked ~ .mj-slideBar {
  @apply left-1/2;
}

.mj-fade-enter {
  @apply translate-y-full opacity-0;
}
.mj-fade-enter-active {
  @apply translate-y-0 opacity-100 duration-500;
}
.mj-fade-exit {
  @apply translate-y-0 opacity-100;
}
.mj-fade-exit-active {
  @apply translate-y-full opacity-0 duration-500;
}

.mj-fade {
  @apply absolute bottom-0 w-full bg-white;
}

.mj-fadeX-enter {
  @apply translate-x-full opacity-0;
}
.mj-fadeX-enter-active {
  @apply translate-x-0 opacity-100 duration-500;
}
.mj-fadeX-exit {
  @apply translate-x-0 opacity-100;
}
.mj-fadeX-exit-active {
  @apply translate-x-full opacity-0 duration-500;
}

.mj-fadeX {
  @apply absolute inset-0 bg-white;
}
