@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

body {
  @apply bg-zinc-50 pb-16;
}

input:checked + label.mj-categoryBtn {
  color: #fff;
  background-color: #25a298;
}
input:checked + label.mj-categoryBtn path {
  fill: #fff;
}

.mj-slideBar {
  z-index: -1;
  @apply absolute bg-red-500 bg-opacity-75 h-full w-1/2 rounded-md
    duration-500;
}

.mj-btn {
  @apply rounded-md border block px-4 py-2 w-full;
}

input#payment:checked ~ .mj-slideBar {
  @apply left-0;
}
input#income:checked ~ .mj-slideBar {
  @apply left-1/2;
}

.mj-fade-enter {
  @apply translate-y-full opacity-0;
}
.mj-fade-enter-active {
  @apply translate-y-0 opacity-100 duration-500;
}
.mj-fade-exit {
  @apply translate-y-0 opacity-100;
}
.mj-fade-exit-active {
  @apply translate-y-full opacity-0 duration-500;
}

.mj-fade {
  @apply fixed bottom-0 w-full bg-white;
}

.mj-fadeX-enter {
  @apply translate-x-full opacity-0;
}
.mj-fadeX-enter-active {
  @apply translate-x-0 opacity-100 duration-500;
}
.mj-fadeX-exit {
  @apply translate-x-0 opacity-100;
}
.mj-fadeX-exit-active {
  @apply translate-x-full opacity-0 duration-500;
}

.mj-fadeX {
  @apply fixed inset-0 bg-white;
}

.mj-chartSwiper .swiper-slide {
  @apply w-1/2;
}

.mj-categoryIconWrap {
  @apply h-8 w-8 rounded-full p-1 inline-block;
}
.mj-categoryIconWrap.food {
  @apply bg-food;
}
.mj-categoryIconWrap.dailyNecessities {
  @apply bg-dailyNecessities;
}
.mj-categoryIconWrap.traffic {
  @apply bg-traffic;
}
.mj-categoryIconWrap.companionship {
  @apply bg-companionship;
}
.mj-categoryIconWrap.clothes {
  @apply bg-clothes;
}
.mj-categoryIconWrap.beauty {
  @apply bg-beauty;
}
.mj-categoryIconWrap.medical {
  @apply bg-medical;
}
.mj-categoryIconWrap.special {
  @apply bg-special;
}
.mj-categoryIconWrap.hobby {
  @apply bg-hobby;
}
.mj-categoryIconWrap.miscellaneous {
  @apply bg-miscellaneous;
}
.mj-categoryIconWrap.residence {
  @apply bg-residence;
}
.mj-categoryIconWrap.lifeLine {
  @apply bg-lifeLine;
}
.mj-categoryIconWrap.communication {
  @apply bg-communication;
}
.mj-categoryIconWrap.insurance {
  @apply bg-insurance;
}
.mj-categoryIconWrap.car {
  @apply bg-car;
}
.mj-categoryIconWrap.education {
  @apply bg-education;
}
